In [4]:
data7 <- read.table('../mvadata/data7-1.txt', header=T)
t(data7)

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10] [,11] [,12] [,13]
group g1   g1   g1   g1   g1   g1   g1   g2   g2   g2    g2    g2    g2
x1     98  103  103  105  109  123  133   93   94   96   101   102   104
x2    81   84   86   86   88   92   99   74   78   80    84    85    83
x3    38   38   42   42   44   50   51   37   35   35    39    38    39

In [6]:
data7.g1 <- data7[data7$group=='g1', -1]
data7.g2 <- data7[data7$group=='g2', -1]
t(data7.g1)
t(data7.g2)

   1  2   3   4   5   6   7
x1 98 103 103 105 109 123 133
x2 81  84  86  86  88  92  99
x3 38  38  42  42  44  50  51

   8  9  10 11  12  13
x1 93 94 96 101 102 104
x2 74 78 80  84  85  83
x3 37 35 35  39  38  39

In [8]:
g1.mean <- sapply(data7.g1, mean)
g2.mean <- sapply(data7.g2, mean)
t(g1.mean)
t(g2.mean)

     x1       x2 x3
[1,] 110.5714 88 43.57143

     x1       x2       x3
[1,] 98.33333 80.66667 37.16667

In [11]:
# 분산-공분산 행렬을 구한다
n1 <- nrow(data7.g1)
n2 <- nrow(data7.g2)
cov.g1 <- cov(data7.g1)
cov.g2 <- cov(data7.g2)
cov.g <- ((n1 - 1) * cov.g1 + (n2 - 1) * cov.g2) / (n1 + n2 - 2)
cov.g

   x1       x2       x3
x1 97.18615 47.96970 37.48918
x2 47.96970 27.03030 17.93939
x3 37.48918 17.93939 16.41342

In [13]:
b <- solve(cov.g) %*% (g2.mean - g1.mean)
round(b, 3)

   [,1]
x1  0.545
x2 -0.558
x3 -1.024

In [15]:
# 첫번째 케이스의 분류
y1.mean <- g1.mean %*% b
y2.mean <- g2.mean %*% b
y1.mean
y2.mean

     [,1]
[1,] -33.51548

     [,1]
[1,] -29.52853

In [20]:
# ȳ₁과 ȳ₂의 중앙 위치
yc <- (y1.mean + y2.mean) / 2
yc

     [,1]
[1,] -31.52201

In [21]:
# 첫번째 케이스
data7.g1[1,]
case1 <- as.matrix(data7.g1[1,])
case1

  x1 x2 x3
1 98 81 38

  x1 x2 x3
1 98 81 38

In [23]:
y1 <- case1 %*% b
y1
# yc < y1이므로 그룹 2로 분류됨

  [,1]
1 -30.74943