In [1]:
import numpy as np
import pandas as pd

In [8]:
# 데이터 읽기
alcohol = pd.read_excel('../../mvadata/alcohol.xlsx')
alcohol.head()

    TYPE   MEOH   ACET  BU1  MEPR  ACAL  LNPRO1
0  typeA    3.0   15.0  0.2   9.0   9.0    5.86
1  typeA   23.0   13.0  0.8   9.0   2.0    6.67
2  typeA   65.0   96.0  0.4   9.0   4.0    5.31
3  typeA  279.0   66.0  0.9  36.0   4.8    5.45
4  typeA  292.0  210.0  1.1  34.0   8.0    4.08

In [10]:
# 기술통계량 구하기
alcohol.describe()

              MEOH        ACET        BU1       MEPR       ACAL     LNPRO1
count    77.000000   77.000000  77.000000  77.000000  77.000000  77.000000
mean    845.629870  211.666234  14.741558  35.755844  12.505195   5.300519
std     329.673058  114.766325   8.831513  14.535460   5.326594   1.108275
min       3.000000   13.000000   0.200000   9.000000   2.000000   3.300000
25%     620.000000  127.000000   9.300000  26.000000   8.600000   4.280000
50%     910.000000  181.000000  17.000000  33.000000  11.000000   5.260000
75%    1087.000000  287.000000  20.000000  46.000000  15.000000   6.220000
max    1548.000000  495.000000  30.000000  72.000000  28.000000   8.010000

In [11]:
als_stat = alcohol.describe()
als_stat.loc['mean']

MEOH      845.629870
ACET      211.666234
BU1        14.741558
MEPR       35.755844
ACAL       12.505195
LNPRO1      5.300519
Name: mean, dtype: float64

In [12]:
# meoh만 가져오기
als_stat.loc['mean'][0]

845.6298701298701

In [13]:
# 선형판별분석 실행
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [14]:
clf = LinearDiscriminantAnalysis()

In [18]:
X = alcohol.iloc[:,1:]
y = alcohol['TYPE']
clf.fit(X, y)
clf.fit_transform(X, y)

array([[-4.09190076, -0.24970717],
       [-3.88757496, -0.12779945],
       [-3.5035432 , -1.11993421],
       [-3.47556483,  0.71295911],
       [-3.10767491, -0.78646124],
       [-3.60282328, -0.97108118],
       [-3.59257412,  0.10214452],
       [-3.34626891, -0.04694853],
       [-2.90618365,  0.39378014],
       [-3.28450569,  0.27969289],
       [-4.06206385,  0.99175582],
       [-3.06398639,  0.0828347 ],
       [-3.21832937,  0.54793828],
       [-3.69059108,  0.21786452],
       [-3.05268088, -1.03064339],
       [-3.8286465 ,  0.37787759],
       [-3.06736928,  0.92193106],
       [-3.13291875,  0.27772659],
       [-0.28576496, -2.22617283],
       [-0.55694298, -1.28117336],
       [ 0.02431382, -0.22448826],
       [-0.63079919, -1.3024169 ],
       [ 0.35451733, -0.45502483],
       [ 0.40488949, -0.20107235],
       [ 1.34119591, -1.70699069],
       [-0.34023702, -0.49960154],
       [ 0.49045398, -0.14130306],
       [ 1.05865309,  0.60403929],
       [-0.85277438, -0.98959313],
       [ 2.22798664, -1.98225185],
       [ 2.25715808, -0.33305143],
       [ 0.448439  ,  1.75101522],
       [ 0.81771591,  0.39279458],
       [ 1.80305552, -1.92666275],
       [ 2.18417573, -0.64158724],
       [-0.85613908,  2.88784545],
       [ 2.04018508, -0.74687694],
       [ 1.6648729 , -2.0926383 ],
       [ 1.5922703 , -1.46341916],
       [ 1.82417207, -1.2822125 ],
       [ 1.82092297, -0.40916748],
       [ 1.49546014, -1.9736802 ],
       [ 1.32330247,  0.27946632],
       [ 1.8598746 , -2.37424   ],
       [ 0.88370489,  0.49642037],
       [ 1.90098378, -1.53154925],
       [ 2.16736673, -0.19483051],
       [-0.40756478, -0.85462999],
       [-0.30975094,  0.40048509],
       [-0.63898047, -0.88110765],
       [ 0.04492845, -0.67135434],
       [-1.15263804,  1.42738042],
       [-0.14513582,  0.84549932],
       [-0.38538727, -0.25335781],
       [ 1.37896948, -0.08422919],
       [ 0.7042905 ,  1.26027923],
       [ 0.30355401, -0.49688222],
       [ 0.24351714,  1.84505722],
       [ 2.13755222,  0.76442727],
       [ 0.53044405, -1.02925355],
       [ 0.65628576,  1.39286507],
       [ 1.34099714,  0.27388262],
       [ 0.9503995 , -0.27515652],
       [ 2.25717536,  1.97619249],
       [ 0.25913887,  2.7326606 ],
       [ 1.40159521, -0.26710314],
       [ 1.22057596,  0.17634886],
       [ 2.68677182,  1.1968416 ],
       [ 0.88649798,  0.81283743],
       [ 2.78605719,  1.35139046],
       [ 2.72265793,  1.52989423],
       [ 2.86073536,  1.50922058],
       [ 1.32874687,  1.27388795],
       [ 3.29420143,  0.97417287],
       [ 2.37837754,  0.29353258],
       [ 2.28371059,  0.92094845],
       [ 1.83446456,  0.84976334]])

In [19]:
# 분류하기
pred_class = clf.predict(X)
pred_class[0:5]

array(['typeA', 'typeA', 'typeA', 'typeA', 'typeA'], dtype='<U5')

In [23]:
# 사후확률(posterior prob) 구하기
pred_posterior = clf.predict_proba(X)
pred_posterior[0:5, :]

array([[9.99993239e-01, 4.87823329e-06, 1.88255897e-06],
       [9.99983817e-01, 1.10451922e-05, 5.13759904e-06],
       [9.99862118e-01, 1.21615116e-04, 1.62666780e-05],
       [9.99906685e-01, 3.76892586e-05, 5.56261564e-05],
       [9.99326691e-01, 5.52743277e-04, 1.20565359e-04]])

In [24]:
# 분류표 구하기
from sklearn.metrics import confusion_matrix
confusion_matrix(y, pred_class)

array([[18,  0,  0],
       [ 0, 23,  6],
       [ 0,  9, 21]])

In [25]:
# 오분류율 구하기
from sklearn.metrics import accuracy_score
'Accuracy = ' + str(accuracy_score(y, pred_class))

'Accuracy = 0.8051948051948052'

In [26]:
'Error rate = ' + str(1-accuracy_score(y, pred_class))

'Error rate = 0.19480519480519476'