In [3]:
survey <- read.table('../mvadata/survey.txt', header=T)

In [4]:
t(survey)

         [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10] [,11] [,12] [,13]
seq       1     2    3    4   5    6     7    8    9   10   ⋯      31    32
sex       1     1    1    2   1    1     2    1    1    1   ⋯       1     1
marriage  1     1    1    2   2    1     2    1    2    2   ⋯       2     3
age      21    22   33   33  28   21    39   32   44   55   ⋯      31    42
job       1     5    1    7   1    5     7    1    3    4   ⋯       6     1
edu       4     5    4    4   4    5     4    4    1    4   ⋯       5     5
salary   60   100  200  120  70   80   190  100  120  110   ⋯     220   200
         [,14] [,15] [,16] [,17] [,18] [,19] [,20] [,21]
seq      33    34    35     36    37    38   39     40
sex       1     2     2      1     1     1    1      1
marriage  1     1     1      2     2     2    1      2
age      25    26    24     34    46    56   21     23
job       2     3     3      1     6     6    5      8
edu       4     3     3      4     4     5    5      4
salary   90    50    50    100   120   349   80    100

In [5]:
survey$edu

 [1] 4 5 4 4 4 5 4 4 1 4 5 4 4 4 5 5 5 5 4 4 5 5 4 5 5 3 2 4 5 4 5 5 4 3 3 4 4 5
[39] 5 4

In [6]:
ordered(survey$edu)

 [1] 4 5 4 4 4 5 4 4 1 4 5 4 4 4 5 5 5 5 4 4 5 5 4 5 5 3 2 4 5 4 5 5 4 3 3 4 4 5
[39] 5 4
Levels: 1 < 2 < 3 < 4 < 5

In [8]:
ordered(survey$edu, levels=1:4)

 [1] 4    <NA> 4    4    4    <NA> 4    4    1    4    <NA> 4    4    4    <NA>
[16] <NA> <NA> <NA> 4    4    <NA> <NA> 4    <NA> <NA> 3    2    4    <NA> 4
[31] <NA> <NA> 4    3    3    4    4    <NA> <NA> 4
Levels: 1 < 2 < 3 < 4

In [10]:
ordered(survey$edu, levels=1:5, labels=c('none', 'elem', 'med', 'high', 'college'))

 [1] high    college high    high    high    college high    high    none
[10] high    college high    high    high    college college college college
[19] high    high    college college high    college college med     elem
[28] high    college high    college college high    med     med     high
[37] high    college college high
Levels: none < elem < med < high < college